@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col">
        <form action="@Url.Action("Index", "Home")" method="post" enctype="multipart/form-data">
            <input type="file" name="pdfFile" value="" />
            <button type="submit">Upload</button>
        </form>
    </div>
</div>